.listInfo {
    position: absolute;
    left: 5px;
    width: 250px;
    float: left;
    margin-top: 14px;
    cursor: pointer;
    font-size: 16px;
}
.listInfo .title{
    height: 50px;
    line-height: 50px;
    background: #000066;
    padding-left: 15px;
    color: #fff;
    border-bottom: 1px solid #337ab7;
}
.listInfo .title div{
    padding-left: 10px;
}
.listInfo .content{
    display: none;
    background: #fff;
}
.content div{
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
}
.content div:hover{
    background: #abc;
    transition: all 0.5s;
}
.listInfo .content .selected {
    background: #abc;
}
.item-nav:active {
    background: #abc;
}