/*
权限设置
*/
.auth-inf-wrapper {
    padding: 0 20px;
}
.auth-inf-wrapper h3 {
    height: 45px;
    border-bottom: 1px solid #008000;
    font-size: 16px;
    color: #000;
    line-height: 45px;
}
.auth-inf-form {
    margin-top: 15px;
    width: 100%;
}
.auth-name label,
.auth-url label,
.auth-status label,
.auth-type label,
.auth-remark label,
.auth-time label
{
    display: inline-block;
    font-size: 14px;
    line-height: 45px;    
    text-align: right;
}
.form-control{
    display: block;
    width: 1160px;
    height: 34px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 34px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control1{
    width: 1160px;
}
.auth-box {
    margin: 15px 0 0 0;
}
.auth-box a {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.auth-box a:hover {
    background-color: #A59C9C;
}