/*卡券系统信息css start*/
.card-text{
    width: 100%;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    padding-left: 20px;
    color: #000;
    background: #ccc;
}
.card-box{
    width: 70%;
    height: 200px;
    padding: 20px;
    margin:20px 0 30px 60px;
    border: 1px solid #000;
}
.card-box .ant-input{
    width: 50%;
    margin-left: 10px;
}
.card-box .btn-query{
    margin: 50px;
}
.ant-table-wrapper{
    width: 70%;
    margin: 20px 0 30px 60px;
}
.card-wrapper{
    margin:30px 60px;
}
.card-wrapper table{
    width: 80%;
    background: #d4e3e5;
}
.card-wrapper tr td{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.card-wrapper .td-center{
    text-align: center;
}
.card-input .ant-input{
    width: 50%;
    margin-right: 5px;
}
.card-input .ant-select{
    margin-right: 5px;
}
.card-wrapper .table-result{
    margin-top: 50px;
}
.token-table{
    width: 70%;
    margin-left: 60px;
    padding: 0 20px;
}
.token-table tr td,.token-table tr th{
    word-wrap: break-word;
    border: 1px solid #A9A9A9;
    padding: 0 3px;
}

/*卡券系统信息css end*/